<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>写点什么</title>
    <link href="/webjars/bootstrap/4.1.0/css/bootstrap-grid.min.css" />
    <script src="/webjars/jquery/3.3.1/jquery.js"></script>
    <script src="/webjars/bootstrap/4.1.0/js/bootstrap.js"></script>
    <link href="/webjars/summernote/0.8.9/summernote.css" />
    <script src="/webjars/summernote/0.8.9/summernote.js"></script>
</head>
<body>
<div id="summernote"><p>Hello Summernote</p></div>
<script>
    jQuery(document).ready(function() {
        alert();
        $('#summernote').summernote();
    });
</script>
</body>
<body>

</body>
</html>